body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('https://img.freepik.com/premium-photo/list-icon-notebook-with-completed-todo-list-3d-render_471402-428.jpg ');
    background-repeat: no-repeat;
    background-size: cover;
}  
.container {
    width: 500px;
    margin: 20px auto;
}
.form {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
}
.input:focus , .add:focus{
    outline: none;
}
.add {
    border: none;
    background-color: #4d6dff;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
}
.add:hover{
    background-color: #0f27f8;
    color: rgb(255, 255, 255);
}
.tasks {
    background-color: #eee;
    margin-top: 20px;
    border-radius: 6px;
    padding: 20px;
}
.tasks .task {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
}
.tasks .task:not(:last-child) {
    margin-bottom: 15px;
}
.tasks .task:hover {
    background-color: #f7f7f7;
}
.tasks .task.done {
    opacity: 0.5;
    position: relative;
}
.task.done::after {
    position: absolute;
    content: "";
}
.tasks .task span { 
    font-weight: bold;
    font-size: 10px;
    background-color: rgb(255, 56, 56);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
.delete-all {
    width: calc(100% - 25px);
    margin: auto;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #ec7f7f;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}
.delete-all:hover{
    background-color: #db0e0e;
}